.footer {
  background-color: #08233e;
  color: var(--white);
  padding: var(--med-size);
  border-top: var(--tiny-size) solid var(--black);
  font-size: 14px;
  font-weight: 1.2;
}

.footer a {
  color: var(--white);
}
